h1{
    font-family: "SF Pro Display", serif;
    font-size: 100px;
    text-align: center;
}
#main{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: #344955;
}
.top{
    width: 300px;
    background-color: #78A083;
}
.bottom{
    height: 400px;
    background-color: #35374B;
}